n8n/workflows/us_market_wrap_vi.json
{
  "id": "USmktWrapVI01",
  "name": "US Market Wrap (Tiếng Việt, cron: 0 8 * * *)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trig-wrap-vi",
      "name": "Schedule 0 8 * * *",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/publish-us-market-wrap?lang=vi",
        "options": {
          "timeout": 600000
        },
        "method": "GET"
      },
      "id": "http-wrap-vi",
      "name": "Publish wrap vi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Wrap (vi) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"
      },
      "id": "msg-wrap-vi",
      "name": "결과 메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Schedule 0 8 * * *": {
      "main": [
        [
          {
            "node": "Publish wrap vi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish wrap vi": {
      "main": [
        [
          {
            "node": "결과 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul",
    "executionOrder": "v1"
  }
}