n8n/workflows/us_market_weekly_id.json
{
  "id": "USmktWeeklID01",
  "name": "US Market Weekly (Bahasa Indonesia, cron: 15 10 * * 6)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 10 * * 6"
            }
          ]
        }
      },
      "id": "trig-weekly-id",
      "name": "Schedule 15 10 * * 6",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/publish-us-market-weekly?lang=id",
        "options": {
          "timeout": 600000
        },
        "method": "GET"
      },
      "id": "http-weekly-id",
      "name": "Publish weekly id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Weekly (id) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"
      },
      "id": "msg-weekly-id",
      "name": "결과 메시지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Schedule 15 10 * * 6": {
      "main": [
        [
          {
            "node": "Publish weekly id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish weekly id": {
      "main": [
        [
          {
            "node": "결과 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul",
    "executionOrder": "v1"
  }
}