n8n/workflows/us_market_weekly.json
{
  "id": "USmktWeekly0900Sat",
  "name": "US Market Weekly (매주 토요일 09:00 KST)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 6"
            }
          ]
        }
      },
      "id": "trigger-weekly",
      "name": "토요일 09:00 (KST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/publish-us-market-weekly?lang=ko",
        "options": {"timeout": 600000},
        "method": "GET"
      },
      "id": "http-weekly",
      "name": "주간 시황 발행",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true"}
            }
          ]
        }
      },
      "id": "if-weekly",
      "name": "성공 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const title = $json.title || 'Weekly Market';\nconst url = $json.url || '';\nconst label = $json.week_label || '';\nreturn [{ json: { text: `📊 미국 증시 주간 발행: ${title} [${label}]\\nhttps://investiqs.net${url}` } }];"
      },
      "id": "msg-weekly-ok",
      "name": "성공 메시지 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'unknown';\nconst v = JSON.stringify($json.violations || []);\nreturn [{ json: { text: `❌ Weekly 발행 실패: ${err} ${v.slice(0,200)}` } }];"
      },
      "id": "msg-weekly-fail",
      "name": "실패 메시지 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    }
  ],
  "connections": {
    "토요일 09:00 (KST)": {
      "main": [[{"node": "주간 시황 발행", "type": "main", "index": 0}]]
    },
    "주간 시황 발행": {
      "main": [[{"node": "성공 여부 확인", "type": "main", "index": 0}]]
    },
    "성공 여부 확인": {
      "main": [
        [{"node": "성공 메시지 구성", "type": "main", "index": 0}],
        [{"node": "실패 메시지 구성", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul",
    "executionOrder": "v1"
  }
}
