n8n/workflows/us_market_wrap_daily.json
{
  "id": "USmktWrap715KST01",
  "name": "US Market Wrap (매일 07:15 KST)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-usmw",
      "name": "매일 07:15 (KST)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/publish-us-market-wrap?lang=ko",
        "options": {"timeout": 600000},
        "method": "GET"
      },
      "id": "http-usmw",
      "name": "US Market Wrap 발행",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true"}
            }
          ]
        }
      },
      "id": "if-usmw",
      "name": "성공 여부 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "const title = $json.title || 'US Market Wrap';\nconst skipped = $json.skipped;\nconst url = $json.url || '';\nlet msg;\nif (skipped) {\n  msg = `⏸ 미국 증시 마감 포스트 건너뜀 (${$json.reason || 'unknown'})`;\n} else {\n  msg = `📊 미국 증시 마감 포스트 발행: ${title}\\nhttps://investiqs.net${url}`;\n}\nreturn [{ json: { text: msg } }];"
      },
      "id": "msg-usmw-ok",
      "name": "성공 메시지 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "jsCode": "const err = $json.error || 'unknown';\nconst v = JSON.stringify($json.violations || []);\nreturn [{ json: { text: `❌ US Market Wrap 실패: ${err} ${v.slice(0,200)}` } }];"
      },
      "id": "msg-usmw-fail",
      "name": "실패 메시지 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    }
  ],
  "connections": {
    "매일 07:15 (KST)": {
      "main": [[{"node": "US Market Wrap 발행", "type": "main", "index": 0}]]
    },
    "US Market Wrap 발행": {
      "main": [[{"node": "성공 여부 확인", "type": "main", "index": 0}]]
    },
    "성공 여부 확인": {
      "main": [
        [{"node": "성공 메시지 구성", "type": "main", "index": 0}],
        [{"node": "실패 메시지 구성", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul",
    "executionOrder": "v1"
  }
}
