n8n/backups/20260502/tLwqXG4CdNf9wAGW.json
{"updatedAt":"2026-05-02T10:05:13.000Z","createdAt":"2026-04-22T22:09:10.704Z","id":"tLwqXG4CdNf9wAGW","name":"KPI Weekly Dashboard (월요일 09:00 KST, PV+YT+Newsletter → Discord)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"id":"n-trigger-mon-0900","name":"매주 월요일 09:00 (KST)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"url":"http://host.docker.internal:8765/kpi/blog-pv","options":{"timeout":300000},"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"period","value":"last_7_days"},{"name":"source","value":"ga4,gsc"}]}},"id":"n-kpi-blog","name":"블로그 PV 집계 (GA4+GSC)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[420,160]},{"parameters":{"url":"http://host.docker.internal:8765/kpi/youtube","options":{"timeout":300000},"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"period","value":"last_7_days"},{"name":"metrics","value":"views,avg_view_duration,completion_rate,subscribers_gained"}]}},"id":"n-kpi-yt","name":"유튜브 조회수/완시청률","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[420,300]},{"parameters":{"url":"http://host.docker.internal:8765/kpi/newsletter","options":{"timeout":300000},"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"period","value":"last_7_days"},{"name":"provider","value":"stibee"},{"name":"metrics","value":"open_rate,ctr,unsubscribe_rate,net_growth"}]}},"id":"n-kpi-news","name":"뉴스레터 오픈율/해지율","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[420,440]},{"parameters":{"jsCode":"// 3개 입력 병합 → 단일 오브젝트\nconst inputs = $input.all();\nconst blog = inputs.find(x => x.json.source_kind === 'blog') || (inputs[0] && inputs[0].json);\nconst yt = inputs.find(x => x.json.source_kind === 'youtube') || (inputs[1] && inputs[1].json);\nconst news = inputs.find(x => x.json.source_kind === 'newsletter') || (inputs[2] && inputs[2].json);\nreturn [{ json: { blog, yt, news } }];"},"id":"n-merge","name":"3채널 KPI 병합","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"url":"http://host.docker.internal:8765/kpi/compute-health","options":{"timeout":60000},"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"blog_json","value":"={{ JSON.stringify($json.blog) }}"},{"name":"yt_json","value":"={{ JSON.stringify($json.yt) }}"},{"name":"news_json","value":"={{ JSON.stringify($json.news) }}"},{"name":"targets","value":"pv_weekly:3500,open_rate:0.40,completion_rate:0.60"}]}},"id":"n-health","name":"KPI Health Score 계산","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[860,300]},{"parameters":{"jsCode":"const h = $input.first().json;\nconst b = h.blog || {};\nconst y = h.yt || {};\nconst n = h.news || {};\nconst emoji = (pass) => pass ? '[OK]' : '[WARN]';\nconst date = new Date().toISOString().slice(0,10);\n\nconst content = `**[주간 KPI 리포트] ${date}** (최근 7일)\\n\\n` +\n  `**블로그**\\n` +\n  `- PV: ${b.pv || 0} ${emoji((b.pv||0) >= 3500)}\\n` +\n  `- Impression: ${b.impression || 0}\\n` +\n  `- CTR: ${((b.ctr||0)*100).toFixed(2)}%\\n` +\n  `- 평균 체류: ${b.avg_session_sec || 0}s\\n\\n` +\n  `**유튜브**\\n` +\n  `- 조회수: ${y.views || 0}\\n` +\n  `- 완시청률: ${((y.completion_rate||0)*100).toFixed(1)}% ${emoji((y.completion_rate||0) >= 0.60)}\\n` +\n  `- 구독자 순증: +${y.subscribers_gained || 0}\\n\\n` +\n  `**뉴스레터**\\n` +\n  `- 오픈율: ${((n.open_rate||0)*100).toFixed(1)}% ${emoji((n.open_rate||0) >= 0.40)}\\n` +\n  `- CTR: ${((n.ctr||0)*100).toFixed(2)}%\\n` +\n  `- 해지율: ${((n.unsubscribe_rate||0)*100).toFixed(2)}%\\n` +\n  `- 구독자 순증: +${n.net_growth || 0}\\n\\n` +\n  `**Health Score: ${h.health_score || 'N/A'}/100**`;\n\nreturn [{ json: { content, health_score: h.health_score } }];"},"id":"n-format","name":"Discord 리포트 포매팅","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,300]},{"parameters":{"url":"={{ $vars.DISCORD_WEBHOOK_KPI }}","options":{"timeout":60000},"method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyContentType":"json","jsonBody":"={\n  \"username\": \"KPI Dashboard\",\n  \"content\": {{ JSON.stringify($json.content) }}\n}"},"id":"n-discord","name":"Discord 주간 리포트 발송","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1300,300]},{"parameters":{"url":"http://host.docker.internal:8765/kpi/save-snapshot","options":{"timeout":120000},"method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"week_of","value":"={{ $now.format('yyyy-MM-dd') }}"},{"name":"health_score","value":"={{ $('Discord 리포트 포매팅').item.json.health_score }}"}]}},"id":"n-save","name":"스냅샷 저장 (주간 히스토리)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1520,300]},{"parameters":{"jsCode":"const s = $input.first().json;\nconsole.log(`KPI 주간 리포트 저장 완료: week=${s.week_of || 'N/A'}, score=${s.health_score || 'N/A'}`);\nreturn [{ json: { success: true } }];"},"id":"n-done","name":"완료 로그","type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,300]}],"connections":{"매주 월요일 09:00 (KST)":{"main":[[{"node":"블로그 PV 집계 (GA4+GSC)","type":"main","index":0},{"node":"유튜브 조회수/완시청률","type":"main","index":0},{"node":"뉴스레터 오픈율/해지율","type":"main","index":0}]]},"블로그 PV 집계 (GA4+GSC)":{"main":[[{"node":"3채널 KPI 병합","type":"main","index":0}]]},"유튜브 조회수/완시청률":{"main":[[{"node":"3채널 KPI 병합","type":"main","index":0}]]},"뉴스레터 오픈율/해지율":{"main":[[{"node":"3채널 KPI 병합","type":"main","index":0}]]},"3채널 KPI 병합":{"main":[[{"node":"KPI Health Score 계산","type":"main","index":0}]]},"KPI Health Score 계산":{"main":[[{"node":"Discord 리포트 포매팅","type":"main","index":0}]]},"Discord 리포트 포매팅":{"main":[[{"node":"Discord 주간 리포트 발송","type":"main","index":0}]]},"Discord 주간 리포트 발송":{"main":[[{"node":"스냅샷 저장 (주간 히스토리)","type":"main","index":0}]]},"스냅샷 저장 (주간 히스토리)":{"main":[[{"node":"완료 로그","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:매주 월요일 09:00 (KST)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"b4f3d599-8242-4661-b409-0958e5aa2568","activeVersionId":"b4f3d599-8242-4661-b409-0958e5aa2568","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-22T22:09:10.705Z","createdAt":"2026-04-22T22:09:10.705Z","role":"workflow:owner","workflowId":"tLwqXG4CdNf9wAGW","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}