n8n/backups/20260502/USmktWrapJA01.json
{"updatedAt":"2026-05-02T10:05:32.000Z","createdAt":"2026-04-26T16:21:06.286Z","id":"USmktWrapJA01","name":"US Market Wrap (日本語, cron: 45 7 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 7 * * *"}]}},"id":"trig-wrap-ja","name":"Schedule 45 7 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-wrap?lang=ja","options":{"timeout":600000},"method":"GET"},"id":"http-wrap-ja","name":"Publish wrap ja","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Wrap (ja) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-wrap-ja","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 45 7 * * *":{"main":[[{"node":"Publish wrap ja","type":"main","index":0}]]},"Publish wrap ja":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 45 7 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"fabdcb3c-1da9-4a30-b19a-1d66a410a344","activeVersionId":"fabdcb3c-1da9-4a30-b19a-1d66a410a344","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:06.289Z","createdAt":"2026-04-26T16:21:06.289Z","role":"workflow:owner","workflowId":"USmktWrapJA01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}