n8n/backups/20260502/USmktIntra2230KST01.json
{"updatedAt":"2026-05-02T10:05:23.000Z","createdAt":"2026-04-26T02:32:46.000Z","id":"USmktIntra2230KST01","name":"US Market Intraday (매일 22:30 KST, 개장 30분 후)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 22 * * *"}]}},"id":"trigger-intraday","name":"매일 22:30 (KST)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-intraday?lang=ko","options":{"timeout":600000},"method":"GET"},"id":"http-intraday","name":"장중 시황 발행","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]}},"id":"if-intraday","name":"성공 여부 확인","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,300]},{"parameters":{"jsCode":"const title = $json.title || 'US Intraday';\nconst skipped = $json.skipped;\nconst url = $json.url || '';\nconst gap = $json.gap || '';\nlet msg;\nif (skipped) {\n  msg = `⏸ 장중 시황 건너뜀 (${$json.reason || 'unknown'})`;\n} else {\n  msg = `📊 미국 증시 장중 발행: ${title} [gap=${gap}]\\nhttps://investiqs.net${url}`;\n}\nreturn [{ json: { text: msg } }];"},"id":"msg-intraday-ok","name":"성공 메시지 구성","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,200]},{"parameters":{"jsCode":"const err = $json.error || 'unknown';\nconst v = JSON.stringify($json.violations || []);\nreturn [{ json: { text: `❌ Intraday 발행 실패: ${err} ${v.slice(0,200)}` } }];"},"id":"msg-intraday-fail","name":"실패 메시지 구성","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,400]}],"connections":{"매일 22:30 (KST)":{"main":[[{"node":"장중 시황 발행","type":"main","index":0}]]},"장중 시황 발행":{"main":[[{"node":"성공 여부 확인","type":"main","index":0}]]},"성공 여부 확인":{"main":[[{"node":"성공 메시지 구성","type":"main","index":0}],[{"node":"실패 메시지 구성","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:매일 22:30 (KST)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"7680a218-abe9-4fa1-9acb-0cf0b34c75ef","activeVersionId":"7680a218-abe9-4fa1-9acb-0cf0b34c75ef","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T02:32:46.002Z","createdAt":"2026-04-26T02:32:46.002Z","role":"workflow:owner","workflowId":"USmktIntra2230KST01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}