n8n/backups/20260502/USmktWrap715KST01.json
{"updatedAt":"2026-05-02T10:05:21.000Z","createdAt":"2026-04-23T22:31:44.274Z","id":"USmktWrap715KST01","name":"US Market Wrap (매일 07:15 KST)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"15 7 * * *"}]}},"id":"trigger-usmw","name":"매일 07:15 (KST)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-wrap?lang=ko","options":{"timeout":600000},"method":"GET"},"id":"http-usmw","name":"US Market Wrap 발행","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]}},"id":"if-usmw","name":"성공 여부 확인","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,300]},{"parameters":{"jsCode":"const title = $json.title || 'US Market Wrap';\nconst skipped = $json.skipped;\nconst url = $json.url || '';\nlet msg;\nif (skipped) {\n  msg = `⏸ 미국 증시 마감 포스트 건너뜀 (${$json.reason || 'unknown'})`;\n} else {\n  msg = `📊 미국 증시 마감 포스트 발행: ${title}\\nhttps://investiqs.net${url}`;\n}\nreturn [{ json: { text: msg } }];"},"id":"msg-usmw-ok","name":"성공 메시지 구성","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,200]},{"parameters":{"jsCode":"const err = $json.error || 'unknown';\nconst v = JSON.stringify($json.violations || []);\nreturn [{ json: { text: `❌ US Market Wrap 실패: ${err} ${v.slice(0,200)}` } }];"},"id":"msg-usmw-fail","name":"실패 메시지 구성","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,400]}],"connections":{"매일 07:15 (KST)":{"main":[[{"node":"US Market Wrap 발행","type":"main","index":0}]]},"US Market Wrap 발행":{"main":[[{"node":"성공 여부 확인","type":"main","index":0}]]},"성공 여부 확인":{"main":[[{"node":"성공 메시지 구성","type":"main","index":0}],[{"node":"실패 메시지 구성","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:매일 07:15 (KST)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"cf1568c0-3bbd-42b4-a99b-f8abe1f0542e","activeVersionId":"cf1568c0-3bbd-42b4-a99b-f8abe1f0542e","versionCounter":13,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-23T22:31:44.277Z","createdAt":"2026-04-23T22:31:44.277Z","role":"workflow:owner","workflowId":"USmktWrap715KST01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}