n8n/backups/20260502/USmktWeeklEN01.json
{"updatedAt":"2026-05-02T10:05:30.000Z","createdAt":"2026-04-26T16:21:04.357Z","id":"USmktWeeklEN01","name":"US Market Weekly (English, cron: 30 9 * * 6)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 9 * * 6"}]}},"id":"trig-weekly-en","name":"Schedule 30 9 * * 6","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-weekly?lang=en","options":{"timeout":600000},"method":"GET"},"id":"http-weekly-en","name":"Publish weekly en","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Weekly (en) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-weekly-en","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 30 9 * * 6":{"main":[[{"node":"Publish weekly en","type":"main","index":0}]]},"Publish weekly en":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 30 9 * * 6":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"c1924ba9-75f7-4ed2-a555-be5ed63411be","activeVersionId":"c1924ba9-75f7-4ed2-a555-be5ed63411be","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:04.361Z","createdAt":"2026-04-26T16:21:04.361Z","role":"workflow:owner","workflowId":"USmktWeeklEN01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}