n8n/backups/20260502/USmktWrapEN01.json
{"updatedAt":"2026-05-02T10:05:26.000Z","createdAt":"2026-04-26T16:21:00.526Z","id":"USmktWrapEN01","name":"US Market Wrap (English, cron: 30 7 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 7 * * *"}]}},"id":"trig-wrap-en","name":"Schedule 30 7 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-wrap?lang=en","options":{"timeout":600000},"method":"GET"},"id":"http-wrap-en","name":"Publish wrap en","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Wrap (en) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-wrap-en","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 30 7 * * *":{"main":[[{"node":"Publish wrap en","type":"main","index":0}]]},"Publish wrap en":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 30 7 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"4f57e8a2-fd11-40ed-a90e-7e4779354865","activeVersionId":"4f57e8a2-fd11-40ed-a90e-7e4779354865","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:00.528Z","createdAt":"2026-04-26T16:21:00.528Z","role":"workflow:owner","workflowId":"USmktWrapEN01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}