n8n/backups/20260502/USmktIntraEN01.json
{"updatedAt":"2026-05-02T10:05:28.000Z","createdAt":"2026-04-26T16:21:02.405Z","id":"USmktIntraEN01","name":"US Market Intraday (English, cron: 45 22 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"45 22 * * *"}]}},"id":"trig-intraday-en","name":"Schedule 45 22 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-intraday?lang=en","options":{"timeout":600000},"method":"GET"},"id":"http-intraday-en","name":"Publish intraday en","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Intraday (en) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-intraday-en","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 45 22 * * *":{"main":[[{"node":"Publish intraday en","type":"main","index":0}]]},"Publish intraday en":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 45 22 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"6d64c7de-b4d1-4a25-8558-2685a99bbb3d","activeVersionId":"6d64c7de-b4d1-4a25-8558-2685a99bbb3d","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:02.407Z","createdAt":"2026-04-26T16:21:02.407Z","role":"workflow:owner","workflowId":"USmktIntraEN01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}