n8n/backups/20260502/USmktIntraVI01.json
{"updatedAt":"2026-05-02T10:05:40.000Z","createdAt":"2026-04-26T16:21:14.066Z","id":"USmktIntraVI01","name":"US Market Intraday (Tiếng Việt, cron: 15 23 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"15 23 * * *"}]}},"id":"trig-intraday-vi","name":"Schedule 15 23 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-intraday?lang=vi","options":{"timeout":600000},"method":"GET"},"id":"http-intraday-vi","name":"Publish intraday vi","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Intraday (vi) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-intraday-vi","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 15 23 * * *":{"main":[[{"node":"Publish intraday vi","type":"main","index":0}]]},"Publish intraday vi":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 15 23 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"912ead5b-e456-4047-89ef-2afaec809dec","activeVersionId":"912ead5b-e456-4047-89ef-2afaec809dec","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:14.068Z","createdAt":"2026-04-26T16:21:14.068Z","role":"workflow:owner","workflowId":"USmktIntraVI01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}