n8n/backups/20260502/USmktIntraID01.json
{"updatedAt":"2026-05-02T10:05:46.000Z","createdAt":"2026-04-26T16:21:19.850Z","id":"USmktIntraID01","name":"US Market Intraday (Bahasa Indonesia, cron: 30 23 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 23 * * *"}]}},"id":"trig-intraday-id","name":"Schedule 30 23 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-intraday?lang=id","options":{"timeout":600000},"method":"GET"},"id":"http-intraday-id","name":"Publish intraday id","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Intraday (id) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-intraday-id","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 30 23 * * *":{"main":[[{"node":"Publish intraday id","type":"main","index":0}]]},"Publish intraday id":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 30 23 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"f228e3fc-a306-45ec-b3cd-3d06f86a9e5a","activeVersionId":"f228e3fc-a306-45ec-b3cd-3d06f86a9e5a","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:19.854Z","createdAt":"2026-04-26T16:21:19.854Z","role":"workflow:owner","workflowId":"USmktIntraID01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}