n8n/backups/20260502/USmktWrapID01.json
{"updatedAt":"2026-05-02T10:05:44.000Z","createdAt":"2026-04-26T16:21:17.927Z","id":"USmktWrapID01","name":"US Market Wrap (Bahasa Indonesia, cron: 15 8 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"15 8 * * *"}]}},"id":"trig-wrap-id","name":"Schedule 15 8 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-wrap?lang=id","options":{"timeout":600000},"method":"GET"},"id":"http-wrap-id","name":"Publish wrap id","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Wrap (id) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-wrap-id","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 15 8 * * *":{"main":[[{"node":"Publish wrap id","type":"main","index":0}]]},"Publish wrap id":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 15 8 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"e5afb07f-d777-40a1-bc35-a74087f4d80f","activeVersionId":"e5afb07f-d777-40a1-bc35-a74087f4d80f","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:17.930Z","createdAt":"2026-04-26T16:21:17.930Z","role":"workflow:owner","workflowId":"USmktWrapID01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}