n8n/backups/20260502/USmktWrapVI01.json
{"updatedAt":"2026-05-02T10:05:38.000Z","createdAt":"2026-04-26T16:21:12.127Z","id":"USmktWrapVI01","name":"US Market Wrap (Tiếng Việt, cron: 0 8 * * *)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"trig-wrap-vi","name":"Schedule 0 8 * * *","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"url":"http://host.docker.internal:8765/publish-us-market-wrap?lang=vi","options":{"timeout":600000},"method":"GET"},"id":"http-wrap-vi","name":"Publish wrap vi","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[520,300]},{"parameters":{"jsCode":"const ok = $json.success === true;\nconst skipped = $json.skipped === true;\nconst t = $json.title || 'untitled';\nconst url = $json.url || '';\nreturn [{ json: { text: ok && !skipped ? `📊 Market Wrap (vi) 발행: ${t}\\nhttps://investiqs.net${url}` : (skipped ? `⏸ skipped` : `❌ failed`) } }];"},"id":"msg-wrap-vi","name":"결과 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300]}],"connections":{"Schedule 0 8 * * *":{"main":[[{"node":"Publish wrap vi","type":"main","index":0}]]},"Publish wrap vi":{"main":[[{"node":"결과 메시지","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1"},"staticData":{"node:Schedule 0 8 * * *":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"bf74f879-a33b-4aa5-89fd-d00b0f863a09","activeVersionId":"bf74f879-a33b-4aa5-89fd-d00b0f863a09","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-26T16:21:12.129Z","createdAt":"2026-04-26T16:21:12.129Z","role":"workflow:owner","workflowId":"USmktWrapVI01","projectId":"lZ85t8437uClmly1","project":{"updatedAt":"2026-04-19T01:40:05.349Z","createdAt":"2026-04-19T01:40:05.349Z","id":"lZ85t8437uClmly1","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"54d4192a-a198-4b74-8724-4d27d09d34ba"}}],"versionMetadata":{"name":null,"description":null}}